<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qiao.imageselector">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name="com.qiao.activity.ImageBrowserActivity"/>
        <activity android:name="com.qiao.activity.ImageSelectorActivty"/>
        <activity android:name="com.qiao.activity.DemoActivity"/>
    </application>

</manifest>
